@model ApplicationUser
@{
    ViewData["customerpage"] = "active";
    
}
<!--Breadcrumb for this url-->
<div class="row p-0 m-0 bg--white py-2 my-3 uk-box-shadow-small uk-border-rounded border position-relative">
    <div class="col-12" dir="ltr">
        <ul class="uk-breadcrumb IRANSans_Light fontsize-12 text-left p-0 m-0 d-flex" dir="ltr">
            <li><a class="fontsize-12" href="~/En/Admin">Dashboard</a></li>
            <li class="mx-1"><a class="fontsize-12" href="~/Admin/Customer">Customers</a></li>
            <li class="mx-1 uk-active">Edit Customer</li>
        </ul>
        <div class="bg--blue-600 position-absolute rounded-right" style="width:8px;right:0;top:-8px;height:calc(100% + 16px);"></div>
    </div>

</div>
<div class="row my-2 m-0" dir="ltr" id="main-container">
    <div class="col-12 uk-background-default uk-box-shadow-medium border uk-border-rounded p-0 bg--white pb-3"
         id="detail-edit-container--active">
        <div class="d-flex justify-content-between align-items-center p-3 bg-gradient--purple rounded-top">
            <h3 class="fontsize-14 Arial font-weight--bold white p-0 m-0 flex-grow-1">
                Edit Customer
            </h3>
            <a href="~/En/Admin/Customer" class="mdc-button mdc-button--unelevated flex-grow-1 min-width--110 flex-sm-grow-0 flex-shrink-0 pagination--button bg--white
               uk-box-shadow-small uk-box-shadow-hover-medium border">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label blue-700 IRANSans_Light fontsize-12">
                    <span>Back</span>
                    <span uk-icon="icon:arrow-right" class="mx-1 mx-sm-2"></span>
                </span>
            </a>
        </div>
        <!--Customer Edit Form-->
        <div class="row my-2 m-0" dir="ltr">
            <div class="col-12 py-3">
                <!--Customer Total Information-->
                <form class="row px-3 my-3 mb-4" dir="ltr">
                    <div class="col-12">
                        <div class="border border--dashed form-bundle uk-border-rounded">
                            <label class="IRANSans_Light">Customer Information</label>
                            <div class="row p-0 m-0 my-3">
                                <!--Name-->
                                <div class="col-md-6 col-sm-6 my-3">
                                    <div class="custom-text-field">
                                        <label class="uk-form-label IRANSans_Light" asp-for="FullName">Full Name</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input IRANSans_Light fontsize-12" asp-for="FullName" type="text" placeholder="enter full name of customer">
                                        </div>
                                    </div>
                                    <span class="error-total-information__fullname IRANSans fontsize-12 red-lighten-7 d-none"></span>
                                </div>
                                <!--Cart Number-->
                                <div class="col-md-6 col-sm-6 my-3">
                                    <div class="custom-text-field">
                                        <label class="uk-form-label IRANSans_Light" asp-for="CartBankNumber">Card Number</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input IRANSans_Light fontsize-12" asp-for="CartBankNumber" type="text" placeholder="enter card number of customer">
                                        </div>
                                    </div>
                                   
                                </div>
                                <!--Phone-->
                                <div class="col-md-6 col-sm-6 my-3">
                                    <div class="custom-text-field">
                                        <label class="uk-form-label IRANSans_Light" asp-for="Mobile">Customer Mobile Number</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input IRANSans_Light fontsize-12 number-type" asp-for="Mobile" type="text" placeholder="enter the customer mobile number">
                                        </div>
                                    </div>
                                    <span class="error-total-information__mobile IRANSans fontsize-12 red-lighten-7 d-none"></span>
                                </div>
                                <!--Email-->
                                <div class="col-md-6 col-sm-6 my-3">
                                    <div class="custom-text-field">
                                        <label class="uk-form-label IRANSans_Light" asp-for="Email">Customer Email</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input IRANSans_Light fontsize-12" asp-for="Email" type="email" placeholder="enter the email of customer">
                                        </div>
                                    </div>
                                </div>

                                <div class="w-100"></div>
                                <!--Submit button-->
                                <div class="col-12">
                                    <button class="mdc-button mdc-button--unelevated bg--blue-700
                                            border px-0 uk-box-shadow-small customer-totalInformation__submit-button"
                                            data-id="@Model.Id" style="height:30px">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label IRANSans fontsize-10 white px-1 px-sm-2">
                                          Save Changes
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <!--Customer access and activation-->
                <div class="row my-3 m-0">
                    <div class="col-12 py-3">
                        <div class="border border--dashed form-bundle uk-border-rounded">
                            <label class="IRANSans_Light">Role and Status</label>
                            <div class="row p-0 m-0 py-3">
                                <!--Access-->
                                <div class="col-md-4 col-sm-6 my-3">
                                    <div class="mdc-select mdc-select--outlined customer-role" data-id="@Model.Id">
                                        <div class="mdc-select__anchor w-100 bg--white h-40">
                                            <i class="mdc-select__dropdown-icon" style="top:5px"></i>
                                            <div id="demo-selected-text" class="mdc-select__selected-text IRANSans_Light fontsize-12 position-relative" style="top:-5px" aria-labelledby="outlined-select-label"></div>
                                            <div class="mdc-notched-outline">
                                                <div class="mdc-notched-outline__leading"></div>
                                                <div class="mdc-notched-outline__notch">
                                                    <label id="outlined-select-label" class="mdc-floating-label IRANSans_Light fontsize-14">Role</label>
                                                </div>
                                                <div class="mdc-notched-outline__trailing"></div>
                                            </div>
                                        </div>

                                        <!-- Select Sort By => Options -->
                                        <div class="mdc-select__menu mdc-menu mdc-menu-surface w-100" role="listbox">
                                            <ul class="mdc-list IRANSans_Light fontsize-12">
                                                @if (Model.ClientRole.Equals(ClientRole.Public))
                                                {
                                                    <li class="mdc-list-item mdc-list-item--selected" data-value="@ClientRole.Public" role="option">
                                                        Public
                                                    </li>
                                                    <li class="mdc-list-item" data-value="@ClientRole.Admin" role="option">
                                                        Admin
                                                    </li>
                                                    <li class="mdc-list-item" data-value="@ClientRole.Manager" role="option">
                                                        Manager
                                                    </li>
                                                }
                                                else if (Model.ClientRole.Equals(ClientRole.Admin))
                                                {
                                                    <li class="mdc-list-item" data-value="@ClientRole.Public" role="option">
                                                        Public
                                                    </li>
                                                    <li class="mdc-list-item mdc-list-item--selected" data-value="@ClientRole.Admin" role="option">
                                                        Admin
                                                    </li>
                                                    <li class="mdc-list-item" data-value="@ClientRole.Manager" role="option">
                                                        Manager
                                                    </li>
                                                }
                                                else if (Model.ClientRole.Equals(ClientRole.Manager))
                                                {
                                                    <li class="mdc-list-item" data-value="@ClientRole.Public" role="option">
                                                        Public
                                                    </li>
                                                    <li class="mdc-list-item" data-value="@ClientRole.Admin" role="option">
                                                        Admin
                                                    </li>
                                                    <li class="mdc-list-item mdc-list-item--selected" data-value="@ClientRole.Manager" role="option">
                                                        Manager
                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--Activation-->
                                <div class="col-md-4 col-sm-6 my-3">
                                    <div class="mdc-select mdc-select--outlined customer-status" data-id="@Model.Id">
                                        <div class="mdc-select__anchor w-100 bg--white h-40">
                                            <i class="mdc-select__dropdown-icon" style="top:5px"></i>
                                            <div id="demo-selected-text" class="mdc-select__selected-text IRANSans_Light fontsize-12 position-relative" style="top:-5px" aria-labelledby="outlined-select-label"></div>
                                            <div class="mdc-notched-outline">
                                                <div class="mdc-notched-outline__leading"></div>
                                                <div class="mdc-notched-outline__notch">
                                                    <label id="outlined-select-label" class="mdc-floating-label IRANSans_Light fontsize-14">Status</label>
                                                </div>
                                                <div class="mdc-notched-outline__trailing"></div>
                                            </div>
                                        </div>

                                        <!-- Select customer status => Options -->
                                        <div class="mdc-select__menu mdc-menu mdc-menu-surface w-100" role="listbox">
                                            <ul class="mdc-list IRANSans_Light fontsize-12">
                                                @if (Model.IsMobileConfirmed)
                                                {
                                                    <li class="mdc-list-item mdc-list-item--selected" data-value="true" role="option">
                                                        Active
                                                    </li>
                                                    <li class="mdc-list-item" data-value="false" role="option">
                                                        Inactive
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="mdc-list-item" data-value="true" role="option">
                                                        Acitve
                                                    </li>
                                                    <li class="mdc-list-item mdc-list-item--selected" data-value="false" role="option">
                                                        Inactive
                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--Register Date-->
                                <div class="col-md-4 col-sm-6 my-3">
                                    <div class="custom-text-field">
                                        <label class="uk-form-label IRANSans_Light" for="form-stacked-text">Created On</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input IRANSans_Light fontsize-12 uk-disabled" id="form-stacked-text" type="text" value="@Model.RegisteredDate.ToString("yyyy/MM/dd")">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Added Addresses-->
                <vc:user-addresses user-id="@Model.Id"></vc:user-addresses>


                <!--Customer's Orders-->
                <vc:user-orders user-id="@Model.Id"></vc:user-orders>

            </div>
        </div>


    </div>
</div>
@section Scripts{
    <script>
        const mdcButton = $('.mdc-button');
        for (let i = 0; i < mdcButton.length; i++) {
            mdc.ripple.MDCRipple.attachTo(document.querySelectorAll('.mdc-button')[i]);
        }

        const mdcTextField = $('.mdc-text-field');
        for (let i = 0; i < mdcTextField.length; i++) {
            mdc.textField.MDCTextField.attachTo(document.querySelectorAll('.mdc-text-field')[i]);
        }




    </script>
}