@model PaginatedList<Shopping>
@if (Model.Count() == 0)
{
    <div class="d-flex justify-content-start flex-column align-items-center mt-2" style="min-height:300px">
        <div class="iranyekanwebregular fontsize-12 text-center p-2 my-3 border--blue uk-box-shadow-medium" style="width:400px;max-width:100%">سفارشی ثبت نشده است</div>
        <img style="max-height:300px" src="~/images/large/product1.svg" />
    </div>
}
else
{
    //Delete Modal for remove order
    <div id="item-remove-modal" uk-modal dir="rtl">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close syle="right:unset;left:10px !important;"></button>
            <div class="uk-modal-header bg--light-3">
                <h3 class="iranyekanwebregular fontsize-14 red-lighten-7">هشدار!</h3>
            </div>
            <div class="uk-modal-body">
                <div class="IRANSans fontsize-12 modal-body-text">آیا مطمئن هستید که می خواهید این سفارش را حذف کنید؟</div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <form id="remove-item-form-on-modal" action="/Admin/Orders/DeleteOrder" method="post">
                    <div class="item-id-container"></div>
                    <button class="mdc-button mdc-button--unelevated border--blue 
                            red-lighten-7 bg--white uk-box-shadow-medium h-30" type="submit">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label IRANSans fontsize-12">
                            حذف
                        </span>
                        <span class="material-icons-outlined mx-2 fontsize-16">
                            delete
                        </span>
                    </button>
                    <button class="mdc-button mdc-button--unelevated border--blue uk-modal-close bg--white uk-box-shadow-medium blue-600 mx-2"
                            style="height:30px;">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label IRANSans fontsize-12">
                            صرف نظر
                        </span>

                    </button>
                </form>
            </div>
        </div>
    </div>
    int i = (Model.PageIndex * 10) - 10;
    <!--Table of orders-->
    <div class="row">
        <div class="col-12 " style="width:100px">
            <div class="mdc-data-table d-block overflow-auto my-4">
                <table class="mdc-data-table__table overflow-auto" dir="rtl">
                    <thead class="IRANSans fontsize-12 bg--light-2">
                        <tr class="mdc-data-table__header-row">
                            <th class="text-center mdc-data-table__header-cell fontsize-14 IRANSans">ردیف</th>
                            <th class="text-center mdc-data-table__header-cell fontsize-14 IRANSans">نام محصول</th>
                            <th class="text-center mdc-data-table__header-cell mdc-data-table__header-cell--numeric fontsize-14 IRANSans">تعداد</th>
                            
                            <th class="text-center mdc-data-table__header-cell mdc-data-table__header-cell--numeric fontsize-14 IRANSans">تخفیف</th>
                            <th class="text-center mdc-data-table__header-cell mdc-data-table__header-cell--numeric fontsize-14 IRANSans">مبلغ قابل پرداخت</th>
                            <th class="text-center mdc-data-table__header-cell mdc-data-table__header-cell--numeric fontsize-14 IRANSans">تاریخ سفارش</th>
                            <th class="text-center mdc-data-table__header-cell fontsize-14 IRANSans">نام خریدار</th>
                            <th class="text-center mdc-data-table__header-cell fontsize-14 IRANSans">نام گیرنده</th>
                            <th class="text-center mdc-data-table__header-cell mdc-data-table__header-cell--numeric fontsize-14 IRANSans">کد پیگیری</th>
                            <th class="text-center mdc-data-table__header-cell fontsize-14 IRANSans">وضعیت سفارش</th>
                            <th class="text-center mdc-data-table__header-cell fontsize-14 IRANSans">عملیات</th>
                        </tr>
                    </thead>
                    <tbody class="mdc-data-table__content IRANSans_Light fontsize-12">
                        @foreach (var item in Model)
                        {
                            i++;
                            var persianDate = new PersianCalendar();
                            var orderDate = string.Format("{0}/{1}/{2}", persianDate.GetYear(item.PaymentDateTime),
                                persianDate.GetMonth(item.PaymentDateTime),
                                persianDate.GetDayOfMonth(item.PaymentDateTime));
                        <tr class="mdc-data-table__row">
                            <td class="mdc-data-table__cell text-center IRANSans_Light fontsize-14"><div class="td--number">@i</div></td>
                            <td class="mdc-data-table__cell text-center">
                                <div class="td--title IRANSans_Light fontsize-14">
                                    <vc:products-of-order order-ids="@item.OrderIds"></vc:products-of-order>
                                </div>
                            </td>
                            <td class="mdc-data-table__cell text-center">
                                <div class="td--number IRANSans_Light fontsize-14">@item.OrdersCount</div>
                            </td>

                          
                            <td class="mdc-data-table__cell text-center"><div class="td--price IRANSans_Light fontsize-14">@item.DiscountPrice</div></td>
                            <td class="mdc-data-table__cell text-center">
                                <div class="td--price IRANSans_Light fontsize-14">@item.TotalPrice</div>
                            </td>
                            <td class="mdc-data-table__cell text-center"><div class="td--date IRANSans_Light fontsize-14">@orderDate</div></td>
                            <td class="mdc-data-table__cell text-center"><div class="td--name IRANSans_Light fontsize-14">@item.FullName</div></td>
                            <td class="mdc-data-table__cell text-center"><div class="td--name IRANSans_Light fontsize-14">@item.ReceiverName</div></td>
                            <td class="mdc-data-table__cell text-center"><div class="td--name IRANSans_Light fontsize-14">@item.TracingCode</div></td>
                            <td class="mdc-data-table__cell text-center">
                                <div class="td--status IRANSans_Light fontsize-14">
                                    @switch (item.Status)
                                    {
                                        case Status.WaitForRegister:
                                            <text>در انتظار ثبت نهایی</text>
                                            break;
                                        case Status.Registered:
                                            <text>ثبت نهایی</text>
                                            break;
                                        case Status.OnlinePaid:
                                            <text>ثبت نهایی و پرداخت  آنلاین</text>
                                            break;
                                        case Status.Delivered:
                                            <text>ارسال شده</text>
                                            break;
                                        case Status.Cancelled:
                                            <text>لغو شده</text>
                                            break;
                                        default:
                                            break;
                                    }
                                </div>
                            </td>
                            <td class="mdc-data-table__cell text-center IRANSans_Light fontsize-12">
                                <div class="d-flex align-items-center">
                                    <a asp-action="DetailAndEdit"
                                       asp-controller="Orders"
                                       asp-area="Admin"
                                       asp-route-id="@item.Id"
                                       class="blue-600 text-decoration-none
                                           d-inline-block min-width--90">مشاهده و ویرایش</a>
                                    <span class="mx-2">|</span>
                                    <a href="#" data-my-id="@item.Id" class="delete-icon red-lighten-7 text-decoration-none">حذف</a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Pageination of products list-->
    <div id="order-pagination-buttons-container">
        @await Html.PartialAsync(partialViewName:"_OrderPaginationButtons",model:Model)
    </div>
}

<script>
    
     try {
        //order pagination buttons
         $('#order-pagination-buttons-container .pagination--button').click(function (e) {
            e.stopPropagation();
            e.preventDefault();
             let pageIndex = $(this).attr('data-page-index');
             let sort = $('.order-sort').attr('data-order-sort');
            let searchText = $('input[name="myOrderSearch"]').val();
            if ($.trim(searchText) === null || $.trim(searchText) === "") {
                searchText = null;
            }
         $.ajax({
                url: "/Admin/Orders/OrderListComponent",
                type: "POST",
             data: {
                 searchText: $.trim(searchText),
                 pageIndex: pageIndex,
                 sort: sort
                },
                error: function (xhr) { console.log(xhr.responseText); },
                
                success: function (data) {
                    $('#order-list-dataTable').html(data);
                   $('html,body').animate({ scrollTop: 0 }, 'slow');
                }
            });
    });
    } catch (e) {
        console.log(e);
    }

   
</script>
