@model IEnumerable<Product>
@if (Model.Count() > 0)
{
    <article id="latest-products-container" class="margin-top-60 margin-bottom-40 product-slider">
        <div class="title-and-slider-container position-relative uk-overflow-hidden">
            <!--Title of top sold products slider-->
            <div class="product-slider-title padding-x-10 margin-bottom-15" dir="rtl">
                <h2 class="dana-font fontsize-22 mobile-fontsize-20 xsmobile-fontsize-18
                    font-weight-600 margin-0">
                    Latest Products
                </h2>

            </div>
            <!--Slides of top sold products slider-->
            <div class="uk-position-relative uk-visible-toggle uk-light padding-top-10 padding-bottom-60 padding-right-10" tabindex="-1" uk-slider>
                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-5@l uk-child-width-1-6@xl uk-grid">
                    @foreach (var item in Model)
                    {
                        var orderedImages = item.Images.OrderBy(c => c.ImageOrder).ToList();
                        string firstImage = null;
                        if (orderedImages.FirstOrDefault() != null)
                        {
                            firstImage = orderedImages.First().ImageName;
                        }
                        string secondImage = null;
                        if (orderedImages.Count() > 1)
                        {
                            secondImage = orderedImages[1].ImageName;
                        }
                        <li class="product-card-container">
                            <!--actions (view, buy and set to favorit)-->
                            <div class="product-card__actions uk-visible@s">
                                <div class="icons-container">
                                    <a asp-controller="Products" asp-action="ProductDetail" asp-area="" asp-route-id="@item.Id" asp-route-title="@item.Title.Replace(" ","-")"
                                       class="text-decoration-none white uk-box-shadow-small"
                                       uk-tooltip="title:View Detail;pos:right;">
                                        <span class="font-color-2" uk-icon="icon:cart;ratio:.9"></span>
                                    </a>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (item.IsProductSaved)
                                        {
                                            <a href="#" class="text-decoration-none white uk-box-shadow-small product-saving saved-product" data-id="@item.Id"
                                               uk-tooltip="title:Save;pos:right;">
                                                <span class="font-color-2" uk-icon="icon:heart;ratio:.9"></span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#" class="text-decoration-none white uk-box-shadow-small product-saving" data-id="@item.Id"
                                               uk-tooltip="title:Save;pos:right;">
                                                <span class="font-color-2" uk-icon="icon:heart;ratio:.9"></span>
                                            </a>
                                        }

                                    }
                                    else
                                    {
                                        <a href="#login-alert-modal" uk-toggle class="text-decoration-none white uk-box-shadow-small"
                                           uk-tooltip="title:Save;pos:right;">
                                            <span class="font-color-2" uk-icon="icon:heart;ratio:.9"></span>
                                        </a>
                                    }
                                </div>
                            </div>
                            <a asp-controller="Products" asp-action="ProductDetail" asp-area="" asp-route-id="@item.Id" asp-route-title="@item.Title.Replace(" ","-")" class="product-card uk-card uk-card-default">

                                <!--discount badge-->
                                @if (item.SpecialDiscount.Where(c => c.ExpirationDate > System.DateTime.Now).Count() > 0)
                                {
                                <div class="discount-badge">
                                    <strong class="digit-format fontsize-16 dana-font font-weight-600 white-text discount-text">@(Math.Round(item.SpecialDiscount.First().DiscountPrice * 100 / item.BasePrice))%</strong>
                                </div>
                                    
                                }
                                else if (item.Discount > 0)
                                {
                            <div class="discount-badge">
                                <strong class="digit-format fontsize-14 dana-font font-weight-600 white-text discount-text">@(Math.Round((item.Discount - item.BasePrice) * 100 / item.Discount))%</strong>
                            </div>
                                   
                                }
                                <!--image of product slide-->
                                <div class="uk-card-media-top w-100 product-card__image">
                                    @if (orderedImages == null)
                                    {
                                        <img class="w-100" alt="default_image" src="~/images/base/placeholderimage.jpg">
                                    }
                                    else if (orderedImages.Count > 0 && orderedImages.Count < 2)
                                    {
                                        <img class="lazyload w-100" src="~/images/base/placeholderimage.jpg"
                                             data-src="/images/products/small/product_@(item.Id)/@firstImage"
                                             alt="@orderedImages.First().AltText" loading="lazy">
                                    }
                                    else if (orderedImages.Count > 1)
                                    {
                                        <img class="lazyload w-100" src="~/images/base/placeholderimage.jpg"
                                             data-src="/images/products/small/product_@(item.Id)/@firstImage"
                                             data-second-image="/images/products/small/product_@(item.Id)/@secondImage"
                                             alt="@orderedImages.First().AltText" loading="lazy">
                                    }
                                    else
                                    {
                                        <img class="" src="~/images/base/placeholderimage.jpg">
                                    }

                                </div>
                                <!--content of product slide-->
                                <div class="uk-card-body padding-0 w-100 uk-text-left margin-y-10" dir="ltr">
                                    <div>
                                        @for (int i = 1; i < 6; i++)
                                        {
                                            if (i <= item.RateNumber)
                                            {
                                                <span class="gold-star" uk-icon="icon:star;ratio:.8"></span>
                                            }
                                            else
                                            {
                                                <span uk-icon="icon:star;ratio:.8"></span>
                                            }
                                        }
                                    </div>
                                    @if (item.Title.Length > 30)
                                    {
                                        <h3 class="uk-card-title dana-font fontsize-16 mobile-fontsize-14 margin-bottom-5 margin-top-10
                                            font-color-1 font-weight-400">
                                            @item.Title.Substring(0, 30)
                                            <span>....</span>
                                        </h3>
                                    }
                                    else
                                    {
                                        <h3 class="uk-card-title dana-font fontsize-16 mobile-fontsize-14 font-color-1 margin-bottom-5 margin-top-10
                                            font-weight-400">
                                            @item.Title
                                        </h3>
                                    }

                                    <!--Price of product-->
                                    @if (item.SpecialDiscount.Where(c => c.ExpirationDate > System.DateTime.Now).Count() > 0)
                                    {
                                        if (item.Stock > 0)
                                        {
                                            <div class="price-container dana-font fontsize-18 mobile-fontsize-16 font-weight-600">
                                                <!--Old price-->
                                                <span class="old-price font-color-4 margin-right-15 font-weight-500">
                                                    <span class="fontsize-18 mobile-fontsize-16">KSh </span><span class="digit-format">@item.BasePrice</span>
                                                </span>
                                                <!--New price with discount-->
                                                <span class="new-price main-color font-weight-600">
                                                    <span class="fontsize-18 mobile-fontsize-16">KSh </span><span class="digit-format">@((item.BasePrice - item.SpecialDiscount.First().DiscountPrice).ToString("N0", new System.Globalization.NumberFormatInfo() { NumberGroupSizes = new[] { 3 }, NumberGroupSeparator = "," }))
                                                    </span>

                                                </span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="price-container dana-font fontsize-12">
                                                <div class="option-divider center-align">
                                                    <strong class="font-color-4 fontsize-16 mobile-fontsize-14 font-weight-500">
                                                       Not Available
                                                    </strong>
                                                </div>
                                            </div>
                                        }


                                    }
                                    else
                                    {
                                        if (item.Stock > 0)
                                        {
                                            <div class="price-container dana-font fontsize-18 mobile-fontsize-16 font-weight-600">
                                                @if (item.Discount > 0)
                                                {
                                                    <!--Old price-->
                                                <span class="old-price font-color-4 margin-right-15 font-weight-500">
                                                    <span class="fontsize-18 mobile-fontsize-16">KSh </span><span class="digit-format">@item.Discount</span>

                                                </span>

                                                }
                                                <!--New price with discount-->
                                            <span class="new-price main-color font-weight-600">
                                                <span class="fontsize-18 mobile-fontsize-16">KSh </span><span class="digit-format">@(item.BasePrice.ToString("N0", new System.Globalization.NumberFormatInfo() { NumberGroupSizes = new[] { 3 }, NumberGroupSeparator = "," }))
                                                </span>

                                            </span>

                                            </div>

                                        }
                                        else
                                        {
                                            <div class="price-container dana-font fontsize-12">
                                                <div class="option-divider center-align">
                                                    <strong class="font-color-4 fontsize-16 mobile-fontsize-14 font-weight-500">
                                                        Not Available
                                                    </strong>
                                                </div>
                                            </div>
                                        }

                                    }

                                </div>
                            </a>
                        </li>
                    }


                </ul>
                <!--top categories slider arrow navigation-->
                <a class="uk-position-center-left uk-position-small  slide-navigation slide-navigation-left uk-box-shadow-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small  slide-navigation slide-navigation-right uk-box-shadow-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                <!--dot navigations of slider-->
                <ul class="uk-slider-nav uk-dotnav uk-flex-center margin-top-25 margin-bottom-30 uk-visible@s"></ul>
                <div class="d-flex justify-content-center margin-top-10">
                    <a asp-action="AllProducts" asp-controller="Products" asp-area="" asp-route-sort="0" class="white-text text-decoration-none dana-font black border-radius-3 uk-button uk-button-default
                   fontsize-18 mobile-fontsize-16 xsmobile-fontsize-14 font-weight-500">All Products</a>
                </div>
            </div>
        </div>
    </article>
}


