@model IEnumerable<Category>
<h3 class="iranyekanwebregular fontsize-14 text-right mx-3 my-1 py-2 d-flex align-items-center">
    <span class="blue-600 border-bottom--blue py-2"> @ViewData["CategoryTitle"]</span>
    @if ((int)ViewData["parent-id"] != -2)
    {

        <a asp-area="Admin" asp-controller="Category"
           asp-action="CreateCategory" asp-route-id="@((int)ViewData["parent-id"])"
           class="uk-button uk-button-link mx-3 d-flex align-items-center text-decoration-none">
            <span class="IRANSans red-lighten-7 fontsize-12">بازگشت</span>
            <i class="material-icons mdc-button__icon mx-2 red-lighten-7" aria-hidden="true">keyboard_backspace</i>
        </a>

    }

</h3>
@if (Model.Count() == 0)
{
    <div class="h-75 d-flex justify-content-start flex-column align-items-center">
        <div class="iranyekanwebregular fontsize-14 text-center w-75 p-2 my-3 border--blue uk-box-shadow-medium">هنوز هیچ دسته بندی ایجاد نشده است</div>
        <img class="w-75" src="~/images/large/collection.svg" />
    </div>
}
else
{
    <!--Breadcrumb for this category-->
    @if ((int)ViewData["parent-id"] != -2)
    {
        <vc:category-bread-crumb id="@((int)ViewData["parent-id"])"></vc:category-bread-crumb>
    }

    //Delete Modal for remove category
    <div id="item-remove-modal" uk-modal dir="rtl">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close syle="right:unset;left:10px !important;"></button>
            <div class="uk-modal-header bg--light-3">
                <h3 class="iranyekanwebregular fontsize-14 red-lighten-7">هشدار!</h3>
            </div>
            <div class="uk-modal-body">
                <div class="IRANSans fontsize-12">آیا مطمئن هستید که می خواهید این دسته بندی را حذف کنید؟</div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <form id="remove-item-form-on-modal" action="/Admin/Category/DeleteCategory" method="post">
                    <div class="item-id-container"></div>
                    <button class="mdc-button mdc-button--unelevated border--blue red-lighten-7 bg--white uk-box-shadow-medium" style="height:30px" type="submit">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label IRANSans fontsize-12">
                            حذف
                        </span>
                        <span class="material-icons-outlined mx-2 fontsize-16">
                            delete
                        </span>
                    </button>
                    <button class="mdc-button mdc-button--unelevated border--blue uk-modal-close bg--white uk-box-shadow-medium blue-600 mx-2"
                            style="height:30px;">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label IRANSans fontsize-12">
                            صرف نظر
                        </span>

                    </button>
                </form>
            </div>
        </div>
    </div>
    <!--List of categories (Sortable)-->
    <ul class="px-2 px-md-3 uk-list"
        uk-sortable="handle: .uk-sortable-handle;cls-custom:custom-category-sortable-list"
        data-url="/Admin/Category/ChangeCategoryOrder"
        data-message="ترتیب دسته بندی ها تغییر یافت"
        id="category-list">
        @foreach (var item in Model)
        {
            <li class="bg--white category-list__list-item mb-3 uk-box-shadow-small border"
                data-my-id="@item.CategoryId">
                <div class="category-list__list-item__title-sorthandle-container
                       d-flex align-items-center h-100  position-relative">
                    <span class="uk-sortable-handle mx-2" uk-icon="icon: table"></span>
                    <!--Category Title-->
                    <span class="d-flex IRANSans fontsize-12 mx-1 my-2 text-decoration-none
                              uk-button uk-button-link uk-text-muted sortablelist-item-title"> @item.Title</span>
                            @if (item.SubCategories.Count > 0)
                            {
                                <a asp-area="Admin" asp-controller="Category"
                                   asp-action="CreateCategory" asp-route-id="@item.CategoryId"
                                   class="uk-button uk-button-link IRANSans fontsize-12">
                                    (مشاهده زیر دسته ها)
                                </a>
                            }
                            <!--actions controller (Edit/Delete/Publish)-->
                            <div class="action-items-container d-md-flex align-items-center d-none">
                                <!--Publish action-->
                                @if (item.IsPublished)
                                {
                                    <a href="#" data-my-id="@item.CategoryId" data-state="publish"
                                       data-message="انتشار دسته بندی مورد نظر لغو گردید"
                                       data-changed-message="دسته بندی مورد نظر انتشار یافت"
                                       data-url="/Admin/Category/UnPublish"
                                       data-changed-url="/Admin/Category/Publish"
                                       class="publish-icon" uk-tooltip="title:لغو انتشار">
                                        <i class="material-icons-outlined fontsize-18">
                                            visibility
                                        </i>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" data-my-id="@item.CategoryId" data-state="unpublish"
                                       data-url="/Admin/Category/Publish"
                                       data-changed-url="/Admin/Category/UnPublish"
                                       data-message="دسته بندی مورد نظر انتشار یافت"
                                       data-changed-message="انتشار دسته بندی مورد نظر لغو گردید"
                                       class="publish-icon" uk-tooltip="title:انتشار">
                                        <i class="material-icons-outlined fontsize-18 uk-text-muted">
                                            visibility_off
                                        </i>
                                    </a>
                                }

                                <!--Edit action-->
                                <a asp-area="Admin" asp-controller="Category" asp-action="EditCategory" asp-route-id="@item.CategoryId"
                                   class="edit-icon" uk-tooltip="title:ویرایش">
                                    <span uk-icon="icon:pencil;ratio:.85"></span>
                                </a>
                                <!--Delete action (fire delete modal show)-->
                                <a href="#" data-my-id="@item.CategoryId" class="delete-icon"
                                   uk-tooltip="title:حذف">
                                    <span uk-icon="icon:trash;ratio:.85"></span>
                                </a>
                            </div>
                            <div class="action-items-container--mobile d-flex d-md-none align-items-center">
                                <button class="text-decoration-none uk-text-muted uk-button uk-button-link" type="button">
                                    <span uk-icon="icon:more-vertical;ratio:.9"></span>
                                </button>
                                <div class="action-items-container--mobile__dropdown" uk-dropdown="mode: click" dir="rtl">
                                    <ul class="uk-list uk-list-divider text-center">
                                        <li>
                                            @if (item.IsPublished)
                                            {
                                                <a href="#" data-my-id="@item.CategoryId" data-state="publish"
                                                   data-message="انتشار دسته بندی مورد نظر لغو گردید"
                                                   data-changed-message="دسته بندی مورد نظر انتشار یافت"
                                                   data-url="/Admin/Category/UnPublish"
                                                   data-changed-url="/Admin/Category/Publish"
                                                   class="publish-icon" uk-tooltip="title:لغو انتشار">
                                                    <i class="material-icons-outlined fontsize-18">
                                                        visibility
                                                    </i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="#" data-my-id="@item.CategoryId" data-state="unpublish"
                                                   data-url="/Admin/Category/Publish"
                                                   data-changed-url="/Admin/Category/UnPublish"
                                                   data-message="دسته بندی مورد نظر انتشار یافت"
                                                   data-changed-message="انتشار دسته بندی مورد نظر لغو گردید"
                                                   class="publish-icon" uk-tooltip="title:انتشار">
                                                    <i class="material-icons-outlined fontsize-18 uk-text-muted">
                                                        visibility_off
                                                    </i>
                                                </a>
                                            }

                                        </li>
                                        <li>
                                            <a asp-area="Admin" asp-controller="Category" asp-action="EditCategory" asp-route-id="@item.CategoryId" class="edit-icon">
                                                <span uk-icon="icon:pencil;ratio:.85"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-my-id="@item.CategoryId" class="delete-icon">
                                                <span uk-icon="icon:trash;ratio:.85"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </li>
                }
    </ul>
}





