@model IEnumerable<Shopping>
@{
    var i = 0;
}
@if (Model.Count() > 0)
{
    <!--Delete Modal for remove order-->
    <div id="item-remove-modal" uk-modal dir="rtl">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close syle="right:unset;left:10px !important;"></button>
            <div class="uk-modal-header bg--light-3">
                <h3 class="iranyekanwebregular fontsize-14 red-lighten-7">هشدار!</h3>
            </div>
            <div class="uk-modal-body">
                <div class="IRANSans fontsize-12 modal-body-text">آیا مطمئن هستید که می خواهید این سفارش را حذف کنید؟</div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <form id="remove-item-form-on-modal" action="/Admin/Customer/DeleteOrder" method="post">
                    <div class="item-id-container"></div>
                    <button class="mdc-button mdc-button--unelevated border--blue red-lighten-7 bg--white uk-box-shadow-medium" style="height:30px" type="submit">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label IRANSans fontsize-12">
                            حذف
                        </span>
                        <span class="material-icons-outlined mx-2 fontsize-16">
                            delete
                        </span>
                    </button>
                    <button class="mdc-button mdc-button--unelevated border--blue uk-modal-close bg--white uk-box-shadow-medium blue-600 mx-2"
                            style="height:30px;">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label IRANSans fontsize-12">
                            صرف نظر
                        </span>

                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row my-3 py-3 m-0 p-0">
        <div class="col-12">
            <h3 class="fontsize-12 blue-500 IRANSans pr-2 border-bottom--blue pb-1" style="max-width:130px">سفارشات این کاربر</h3>
            <div class="mdc-data-table d-block overflow-auto my-4">
                <table class="mdc-data-table__table overflow-auto">
                    <thead class="IRANSans fontsize-12 bg--light-2">
                        <tr class="text-center fontsize-12 mdc-data-table__header-cell">
                            <th class="mdc-data-table__header-cell text-center  IRANSans fontsize-14">ردیف</th>
                            <th class="mdc-data-table__header-cell text-center IRANSans fontsize-14">نام محصول</th>
                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric text-center IRANSans fontsize-14">تعداد</th>
                            <th class="mdc-data-table__header-cell text-center IRANSans fontsize-14">هزینه ارسال</th>
                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric text-center IRANSans fontsize-14">تخفیف</th>
                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric text-center IRANSans fontsize-14">مبلغ قابل پرداخت</th>
                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric text-center IRANSans fontsize-14">تاریخ سفارش</th>
                            <th class="mdc-data-table__header-cell text-center IRANSans fontsize-14">نام خریدار</th>
                            <th class="mdc-data-table__header-cell text-center IRANSans fontsize-14">نام گیرنده</th>
                            <th class="mdc-data-table__header-cell text-center IRANSans fontsize-14">وضعیت سفارش</th>
                            <th class="mdc-data-table__header-cell text-center IRANSans fontsize-14">عملیات</th>
                        </tr>
                    </thead>
                    <tbody class="mdc-data-table__content IRANSans_Light fontsize-12">
                        @foreach (var item in Model)
                        {
                            i++;
                            var persianDate = new PersianCalendar();
                            var orderDate = string.Format("{0}/{1}/{2}", persianDate.GetYear(item.PaymentDateTime),
                                persianDate.GetMonth(item.PaymentDateTime),
                                persianDate.GetDayOfMonth(item.PaymentDateTime));
                            <tr class="mdc-data-table__row">
                                <td class="mdc-data-table__cell text-center"><div class="td--number IRANSans_Light fontsize-12">@i</div></td>
                                <td class="mdc-data-table__cell text-center">
                                    <div class="td--title IRANSans_Light fontsize-14">
                                        <vc:products-of-order order-ids="@item.OrderIds"></vc:products-of-order>
                                    </div>
                                </td>
                                <td class="mdc-data-table__cell text-center">
                                    <div class="td--number IRANSans_Light fontsize-12">@item.OrdersCount</div>
                                </td>

                                <td class="mdc-data-table__cell text-center"><div class="td--price IRANSans_Light fontsize-12">@item.DeliveryPrice</div></td>
                                <td class="mdc-data-table__cell text-center"><div class="td--price IRANSans_Light fontsize-12">@item.DiscountPrice</div></td>
                                <td class="mdc-data-table__cell text-center">
                                    <div class="td--price IRANSans_Light fontsize-14">@item.TotalPrice</div>
                                </td>
                                <td class="mdc-data-table__cell text-center"><div class="td--date IRANSans_Light fontsize-12">@orderDate</div></td>
                                <td class="mdc-data-table__cell text-center"><div class="td--name IRANSans_Light fontsize-12">@item.FullName</div></td>
                                <td class="mdc-data-table__cell text-center"><div class="td--name IRANSans_Light fontsize-12">@item.ReceiverName</div></td>
                                <td class="mdc-data-table__cell text-center">
                                    <div class="td--status IRANSans_Light fontsize-12">
                                        @switch (item.Status)
                                        {
                                            case Status.WaitForRegister:
                                                <text>در انتظار ثبت نهایی</text>
                                                break;
                                            case Status.Registered:
                                                <text>ثبت نهایی</text>
                                                break;
                                            case Status.OnlinePaid:
                                                <text>ثبت نهایی و پرداخت  آنلاین</text>
                                                break;
                                            case Status.Delivered:
                                                <text>ارسال شده</text>
                                                break;
                                            case Status.Cancelled:
                                                <text>لغو شده</text>
                                                break;
                                            default:
                                                break;
                                        }
                                    </div>
                                </td>
                                <td class="mdc-data-table__cell text-center">
                                    <div class="d-flex align-items-center IRANSans_Light fontsize-12">
                                        <a asp-action="DetailAndEdit"
                                           asp-controller="Orders"
                                           asp-area="Admin"
                                           asp-route-id="@item.Id"
                                           class="blue-600 text-decoration-none
                                           d-inline-block min-width--90">مشاهده و ویرایش</a>
                                        <span class="mx-2">|</span>
                                        <a href="#" data-my-id="@item.Id" class="delete-icon red-lighten-7 text-decoration-none">حذف</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

