@model IEnumerable<Category>
    <article id="top-cateogries-container" class="margin-top-10 margin-bottom-20 product-slider">
        
        <div class="title-and-slider-container position-relative">
            <!--Title of top categories slider-->
            <div class="product-slider-title padding-x-10 margin-bottom-15" dir="ltr">
                <h2 class="dana-font fontsize-22 mobile-fontsize-20 xsmobile-fontsize-18 
                    font-weight-600 margin-0">
                    Product Categorization
                </h2>
            </div>
            <!--Slides of top categories slider-->
            <div class="uk-position-relative uk-visible-toggle uk-light padding-top-10 padding-bottom-20 " tabindex="-1" uk-slider>

                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid">
                    @foreach (var item in Model)
                    {
                        <li class="product-card-container">
                            <a class="category-card product-card uk-card uk-card-default" asp-action="CategoryDetail" asp-controller="Category" asp-area=""
                               asp-route-id="@item.CategoryId" asp-route-categoryTitle="@item.Title.Replace(" ","-")">
                                <!--image of category slide-->
                                <div class="uk-card-media-top w-100 product-card__image" tabindex="0">
                                    @if (string.IsNullOrEmpty(item.CategoryImage))
                                    {
                                        <img class="w-100" src="~/images/base/placeholderimage.jpg" alt="@item.Title">
                                    }
                                    else
                                    {
                                        <img class="w-100 lazyload" src="~/images/base/placeholderimage.jpg"
                                             data-src="/images/categories/small/@item.CategoryImage"
                                             alt="@item.Title" uk-img>
                                    }

                                </div>
                                <!--title of category slide-->
                                <div class="category-title-container">
                                    <h2 class="dana-font fontsize-16 mobile-fontsize-14 font-color-2 w-100 font-weight-600">@item.Title</h2>
                                </div>
                            </a>
                        </li>
                    }


                </ul>
                <!--top categories slider arrow navigation-->
                <a class="uk-position-center-left uk-position-small  slide-navigation slide-navigation-left uk-box-shadow-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small  slide-navigation slide-navigation-right uk-box-shadow-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                <!--dot navigations of slider-->
                <ul class="uk-slider-nav uk-dotnav uk-flex-center  margin-top-10 margin-bottom-30 uk-visible@s"></ul>
                <div class="d-flex justify-content-center margin-top-10">
                    <a asp-action="AllProducts" asp-controller="Products" asp-area="" asp-route-sort="0" class="white-text border-radius-3 text-decoration-none dana-font black uk-button uk-button-default
                   fontsize-18 mobile-fontsize-16 xsmobile-fontsize-14 font-weight-500">All Products</a>
                </div>
            </div>
            
          
        </div>
    </article>

   