@model IEnumerable<SubProductVariation>
@foreach (var item in Model)
{
    <div class="admin-chip-tags d-inline-block border uk-border-rounded
         bg--white uk-box-shadow-small py-1 ml-2 my-1" dir="ltr">
        <a href="#" class="text-decoration-none red-lighten-7 px-2 delete-subProductVariation"
           data-my-id="@item.SubProductVariationId" data-pro-var-id="@ViewData["ProductVariationId"]"
           uk-tooltip="title:delete">
            <span uk-icon="icon:close;ratio:.7"></span>
        </a>
        <span class="IRANSans_Light fontsize-12 border-left pr-2 grey-darken-4">@item.Title</span>
    </div>
}
@if((bool)ViewData["HasDifferentPrice"] && Model.Count() > 0)
    {
<!--Set pricing for created variations-->
<div class="row my-2 mx-0 set-price-for-subProductVariation" data-id="@ViewData["ProductVariationId"]">
    <div class="col-12 px-2">
        <div class="text-left fontsize-12 IRANSans red-lighten-6 border-bottom--red py-1 d-inline-block" style="min-width:150px">
            <span class="">Product Variant Pricing</span>
            <span class="mx-1">@ViewData["ProductVariationTitle"]</span>
        </div>
        <br />
        <div class="Arial pt-2 fontsize-12">If no price is set for a subset, the price will be considered as the initial price of the product.</div>
        <form class="set-price-for-subProductVariation" data-id="@ViewData["ProductVariationId"]">
            <div class="row m-0 py-4 align-items-start">
                <div class="col-lg-2 col-md-3 col-sm-4 my-2 px-2">
                    <div class="custom-text-field">
                        <label class="uk-form-label IRANSans_Light fontsize-12">Sub Var</label>
                        <div class="my-2 my-sm-0 mx-0 d-flex flex-column" uk-form-custom="target: > * > span:first-child">
                            <select class="IRANSans_Light fontsize-12 grey-darken-4 uk-border-rounded p-2
                                sub-product-variation-price-select" data-my-id="@ViewData["ProductVariationId"]">
                                @foreach (var item in Model)
                                {

                                    <option class="IRANSans fontsize-12 m-2" value="@item.SubProductVariationId">@item.Title</option>

                                }
                            </select>
                            <button class="uk-button uk-button-default IRANSans_Light fontsize-12
                                                border-grey uk-border-rounded w-100 text-left d-inline-block px-2" style="height:42px;"
                                    type="button" tabindex="-1">
                                <span class="IRANSans_Light fontsize-12"></span>
                                <span uk-icon="icon: chevron-down;ratio:.7"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 my-2 px-2">
                    <div class="custom-text-field">
                        <label class="uk-form-label IRANSans_Light" for="subproduct-var-price">Price</label>
                        <div class="uk-form-controls d-flex">
                            <input class="uk-input IRANSans_Light fontsize-12 number-type" required name="subproduct-var-price" 
                                   type="text" placeholder="price">
                        </div>
                    </div>
                    <span class="Arial fontsize-12 red-lighten-7 error-subProductVar-price d-none"></span>
                </div>
                <div class="col-lg-auto col-md-4 col-sm-6 d-flex align-items-center my-1 px-2">
                    <button class="mdc-button mdc-button--unelevated bg--white border px-0 
                            set-price-for-subProductVariation__Submit-button" style="height:40px">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label IRANSans fontsize-12 blue-700 px-1 px-sm-2">
                           Add
                        </span>
                    </button>
                </div>
                <div class="col-12 subProductVariation-listPrice-container p-0"> 
                   <vc:sub-product-variation-list-price product-variation-id="@((int)ViewData["ProductVariationId"])"></vc:sub-product-variation-list-price>
                </div>
                
            </div>
        </form>
    </div>
</div>
    }
<script>
     //input type numbers 
    $('input.number-type').keydown(function (e) {
        let key = e.keyCode || e.which;
        if (!((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 105)) && key !== 8) {
            e.preventDefault();
            return false;
        }
    });
    $('.delete-subProductVariation').click(function (e) {
        let myId = $(this).attr('data-my-id');
        let proVarId = $(this).attr('data-pro-var-id');
        let parent = $(this).parents('.admin-chip-tags');
        $.ajax({
            url: "/Admin/SubProductVariation/Delete",
            type: "POST",
            data: {
                id: myId
            },
            success: function (data) {
                if (data) {
                    $(parent).remove();
                    $('.provar-table-row[data-my-id="' + myId + '"]').remove();
                    let selectBox = $('.sub-product-variation-price-select[data-my-id="' + proVarId + '"]');
                    $(selectBox).find('option[value="' + myId + '"]').remove();
                    if ($(selectBox).find('option').length < 1) {
                        $(selectBox).parents('.set-price-for-subProductVariation').remove();
                    }

                    UIkit.notification({
                        message: '<span class="material-icons-outlined red-lighten-7 mx-2 position-relative" style="top:6px">notifications_active</span><span class="IRANSans_Light fontsize-14" dir="ltr">Sub Var Removed</span>',
                        status: 'primary',
                        pos: 'top-center',
                        timeout: 5000
                    });
                } 
            }
        });
        e.stopPropagation();
        e.preventDefault();
    });

    //Define different price for subproduct variation
    $('.set-price-for-subProductVariation__Submit-button').click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        let parent = $(this).parents('.set-price-for-subProductVariation');
        let provarid = $(parent).attr('data-id');
        let mySubProId = $(parent).find('.sub-product-variation-price-select').val();
        let price = $(parent).find('input[name="subproduct-var-price"]').val();
        if (price === null || price.trim() === "") {
            $(parent).find('.error-subProductVar-price').removeClass('d-none').html('Please enter price');
            e.preventDefault();
            e.stopPropagation();
            return false;
        }
        $.ajax({
            url: "/Admin/SubProductionVariation/DefinePrice",
            type: "POST",
            data: {
                id: mySubProId,
                price: price,
                productVariationId: provarid
            },
            success: function (data) {
                $(parent).find('.subProductVariation-listPrice-container').html(data);
                UIkit.notification({
                    message: '<span class="material-icons-outlined red-lighten-7 mx-2 position-relative" style="top:6px">notifications_active</span><span class="IRANSans_Light fontsize-14" dir="ltr">Price Set</span>',
                    status: 'primary',
                    pos: 'top-center',
                    timeout: 5000
                });
                e.stopPropagation();
                e.preventDefault();
            }
        });
    });
    $('input[name="subproduct-var-price"]').focus(function () {
        let parent = $(this).parents('.set-price-for-subProductVariation');
        $(parent).find('.error-subProductVar-price').html("");
    });
</script>